.body{
    background: url(../images/architecture-background-buildings-218983\ copy.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;   
      }

#stay{
  font-family: 'Abril Fatface', cursive;
}

#vay{
  font-family: 'Courgette', cursive;
}

.card-title{
  text-align: center;
}

#transparent-card{
  background-color: rgba(84, 110, 122, 0.75) !important; 
}

.card-action{
  text-align: center;
}

#sidenav{
    color: white!important;
    background-color: rgba(255, 255, 255, 0)!important;
}
